<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biometric Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <style>
        .bio-box {
            text-align: center; /* Center align the content */
        }
        .bio-box h1 {
            margin-bottom: 20px; /* Add some space below the heading */
        }
        .bio-box img {
            display: block;
            margin: 0 auto; /* Center the image horizontally */
            margin-bottom: 20px; /* Add some space below the image */
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="bio-box">
            <h1>Biometric Verification</h1>
            <img src="../static/biometric_image.png" alt="Biometric Image"> 
            <h2>Please place your finger on the sensor</h2>
            <center><p id="message"></p></center>
        </div>
    </div>
</body>
</html>
